/* navbar */

.nav-img{
    width: 140px;
    height: 45px;
    background-image: url('blink-it-logo.png');
    background-size: cover;
}

.location{
    width: 230px;    
}

.delivery-minutes{
    font-weight: 700;
    word-spacing: 1.5;
    font-size: 18px;
}

.location2{
    width: 230px;
    overflow: auto;
    color: black;
    text-decoration: none;
}

.search{
    width: 440px;
    background-color: rgb(249, 249, 249);
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 10px;

    i{
        padding: 10px;
    }

    input{
        background-color: transparent;
        outline: none;
        border: none;
        height: 45px;
    }
}

.login{
    font-size: 18px;
}

nav button{
    height: 52px;
    width: 112px;    
}



.list img{
    width: 100px;
    height: auto;
}

.card-body{
    font-size: 13px;
}


.form-control{
    outline: none;
}

.item-list-1::-webkit-scrollbar{
    display: none;    
}

.more{
    height: 210px;
}

.more::-webkit-scrollbar{
   display: none;
}

.pg3-card{
    padding: 0;
}

.side-nav-bar nav{
    width: 240px;
    
}

.mycart{
    font-size: 14px;
}

.page2 img{
    width: 100px;
}


@media (max-width:1024px){
    .location{
        display: none;
    }
}

@media (max-width: 850px){
    .login{
        display: none;
    }
}

@media (max-width: 750px){
    .mycart{
        display: none;
    }

    .search{
        margin-top: 5px;
        width: 100%;
    }
}


