@tailwind base;
@tailwind components;
@tailwind utilities;



.list img{
    width: 100px;
    height: auto;
}

.card-body{
    font-size: 13px;
}


.form-control{
    outline: none;
}

.item-list-1::-webkit-scrollbar{
    display: none;    
}

.more{
    height: 210px;
}

.more::-webkit-scrollbar{
   display: none;
}

.pg3-card{
    padding: 0;
}

.side-nav-bar nav{
    width: 240px;
    
}

.mycart{
    font-size: 14px;
}

.page2 img{
    width: 100px;
}

@media (max-width:768px){
    .navbar-brand , #login{
        position: absolute;
        top: 0;
        text-align: center;
    }

    .navbar-brand{
        left: 0;
    }

    #login{
        right: 0;
    }

    .navbar-nav{
        display: none;
    }

}